header {
    background-color: black;
    width : 100% ;
    height: 200px;
    color: white;
    text-align: center;
    font-size: xx-large;
    padding: 20px;

}
nav {
    background-color: gray ;
    width: 100%;
    height: 50px;
}
.navig {
    display: flex ;
    justify-content: space-between ;
    margin-top: 05px;
    text-align: center;
}
main{
    width: 100%;
    height: 400px;
}
li {
    font-size: xx-large ;
    padding-right: 50px;
    text-align: center;
}
section {
    text-align: center ;
    font-weight: 200 ;
    font-size: x-large;
    
}
footer {
    background-color: black;
    width: 100%;
    height: 150px;
}
h2{
    color: white;
    text-align: center;
    font-weight: 300;
    padding-top: 50px;
    font-family: serif ;
}
a{
    color: aliceblue;
    text-decoration: none ;
}